.Login-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #f1f1f1;
  padding: 16px;
  background-color: #ffffff;
}

.Login-page-logo {
  height: 100px;
  pointer-events: none;
  margin-bottom: 10px;
}

.Login-page-header {
  text-align: center;
  margin: 10px 0 12px 0;
}

.Login-page-field {
  width: 100%;
  margin-bottom: 10px;
}

.Login-page-field-label {
  font-size: 18px;
  font-weight: bold;
}

.Login-page-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #f1f6f9;
}

.Login-page-input-invalid {
  border-color: red;
  outline: red;
}

.Login-page-input-valid {
  border: 1px solid #ccc;
}

.Login-page-password-message {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.Login-page-password-message-invalid {
  color: red;
}

.Login-page-password-message-valid {
  color: green;
}

.Login-page-login-button {
  background-color: #4aa1ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 22px;
  font-size: 18px;
}